Package: jkpm
Version: 6.10
Section: utils
Priority: optional
Architecture: amd64
Maintainer: Josakko, josakko@protonmail.com
Description: JK_PasswordManager, Secure password manager
Homepage: https://github.com/Josakko/JK_PasswordManager
